{% extends 'base.html' %}

{% block content %}
<h1> Цифровая подпись RSA</h1>
<form method="POST">
    <div class="input-group">
        <label for="original_text" class="input-group-text">Введите текст</label>
        <textarea class="form-control" name="original_text" aria-label="original_text">{{ request.form.original_text or ''}}</textarea>
    </div>
    <div class="input-group">
        <label for="p" class="input-group-text">Введите P</label>
        <textarea class="form-control" name="p" aria-label="p">{{ request.form.p or ''}}</textarea>
    </div>
    <div class="input-group">
        <label for="q" class="input-group-text">Введите Q</label>
        <textarea class="form-control" name="q" aria-label="q">{{ request.form.q or ''}}</textarea>
    </div>
    <div class="input-group">
        <label for="e" class="input-group-text">Введите E</label>
        <textarea class="form-control" name="e" aria-label="e">{{ request.form.e or ''}}</textarea>
    </div>
    <div class="input-group">
        <label for="sign" class="input-group-text">Введите значение подписи (для проверки)</label>
        <textarea class="form-control" name="sign" aria-label="sign">{{ request.form.sign or ''}}</textarea>
    </div>
    <div class="mb-3">
        <label for="type">Выберите тип текста</label>
        <select class="form-select" name="type" id="type">
            {% for i in type %}
                <option {% if request.form.type == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="operation">Выберите действие</label>
        <select class="form-select" name="operation" id="operation">
            {% for op in operations %}
                <option {% if request.form.operation == op %}selected{% endif %}>{{ op }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3"><button type="submit" class="btn btn-primary">Выполнить</button></div>
    <div class="input-group">
        <label class="input-group-text">Результат</label>
        <textarea class="form-control" aria-label="Result">{{ result or '' }}</textarea>
    </div>
    
</form>
{% endblock %}